# Session 1
## Assignment 1

### Task1

In [14]:
m=[]
for i in range(2000,3201):
       if (i%7 == 0 and i%5 != 0):
            m.append(i)
print(m)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [15]:
a=input("Enter the First Name")
b=input("Enter the Last Name")
c=a+' '+b
m=c[::-1]
print(c)
print(m)

Enter the First NameDhivya
Enter the Last NameSubburaman
Dhivya Subburaman
namarubbuS ayvihD

In [3]:
r=6
v=(4/3)*(3.14)*(r**3)
print(v)

904.3199999999999

## Task 2

In [16]:
n=input("Enter sequence of comma-separated numbers")
generated_list=n.split(",")
generated_list

Enter sequence of comma-separated numbers8,9,7,12

['8', '9', '7', '12']

In [17]:
for i in range(6):
    print('*' * i)
for i in range(6,0,-1):
    print('*' * i)

*
**
***
****
*****
******
*****
****
***
**
*

In [7]:
n=input()
n[::-1]

Dhivya

'ayvihD'

In [8]:
print("WE,THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute india into a SOVEREIGN,!\n\t\t SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC\n\t\t\t and to secure to all its citizens")

WE,THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute india into a SOVEREIGN,!
		 SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
			 and to secure to all its citizens